@media (max-width: 100em){
	
}
@media (max-width: 90em){
	
}
@media (max-width: 85em){
	
}
@media (max-width: 80em){
	
}
@media (max-width: 64em){
	
}
@media (max-width: 48em){
	
}
@media (max-width: 45em){
	html{
		font-size: 70%;
	}
	header{
		justify-content: flex-end;
	}
	header h3{
		display: none;
	}
	.wrap_nav{
		justify-content: flex-end;
	}
	.menu{
		display: none;
	}
	.menu__icon{
		display: inline-block;
	}
	.wrap_menu_mobile{
		height: 20.6em;
	}
}
@media (max-width: 30em){
	html{
		font-size: 50%;
	}
	.main_text button{
		font-size: 1.8rem;
	}
	.wrap_menu_mobile{
		height: 20em;
	}
}
@media (max-width: 23.4375em){
	.main_text button{
		font-size: 1.8rem;
	}
	.wrap_menu_mobile{
		height: 160px;
	}
}
@media (max-width: 20em){
	html{
		font-size: 40%;
	}
	.main_text h2{
		font-size: 2rem;
	}
	.main_text button{
		font-size: 2rem;
	}
	.wrap_menu_mobile{
		height: 23.4em;
	}
}